// GENERAL PROJECT STYLES

.container {
  max-width: 1500px;
  margin: auto;
}

main {
  position: relative;
  z-index: 3;
}

.section-title {
  font-size: 57px;
  font-weight: 900;
  line-height: 1.25em;
  text-align: center;
}

.section-subtitle {
  margin: 0;
  font-size: 30px;
  line-height: 1.5em;
  text-align: center;
  padding-bottom: 70px;
}

.btn-accent {
  display: inline-block;
  padding: 10px 24px 13px;
  font-size: 23px;
  font-weight: 600;
  background-color: $accent;
  color: $white;
  cursor: pointer;

  &:hover {
    color: $white;
    transition: background-color 0.3s;
    background-color: $dark-accent;
  }
}

.btn-wrapper {
  text-align: center;

  .btn-accent {
    min-width: 25.5rem;
    border-radius: 7px;
  }
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 44px;
  }

  .section-subtitle {
    width: 80%;
    font-size: 28px;
    margin: auto;
  }
}

@media screen and (max-width: 576px) {
  .section-title {
    font-size: 32px;
  }

  .btn-wrapper {
    .btn-accent {
      font-size: 18px;

      min-width: unset;
    }
  }

  .section-subtitle {
    font-size: 20px;
  }
}
