.section-abiturient {
  padding: 75px 0;
  background-color: $stone;

  .section-title {
    color: $white;
  }

  .section-subtitle {
    max-width: 850px;
    color: $white;
    margin: auto;
  }
}
